## Database configuration
DB_HOST=localhost
DB_PORT=5432
DB_NAME=mydb
DB_USER=postgres
DB_PASSWORD=postgres
# ==============
# Make variables
# ==============
# Variables
ENV_NAME=env
PYTHON_VERSION=3.14
AIRFLOW_VERSION=3.2.2
TRINO_VERSION=482
POLARIS_VERSION=1.5.0
SUPERSET_VERSION=6.1.0
