## Database configuration
DB_HOST=localhost
DB_PORT=5432
DB_NAME=mydb
DB_USER=postgres
DB_PASSWORD=postgres
# ==============
# Make variables
# ==============
# Variables
ENV_NAME=env
PYTHON_VERSION=3.12
AIRFLOW_VERSION=3.1.8
TRINO_VERSION=481
POLARIS_VERSION=1.5.0
SUPERSET_VERSION=6.0.0
NAMESPACE=

# ==============================
# INSTALLATION OPTIONS
# ==============================
LSD_INSTALL_ALL=false
LSD_INSTALL_ARGOCD=false
LSD_INSTALL_ARGOCD_CLI=false
LSD_INSTALL_RENOVATE=false
LSD_INSTALL_DATABASES=false
LSD_INIT_DATABASES=false
LSD_INSTALL_SUPERSET=false
LSD_INSTALL_AIRFLOW=false
LSD_INSTALL_TRINO=false
LSD_INSTALL_POLARIS=false
