{
    "branches": [
        "main", "next"
    ],
    "plugins": [
        "@semantic-release/commit-analyzer",
        [
            "@semantic-release/release-notes-generator",
            {
                "preset": "conventionalcommits",
                "presetConfig": {
                    "types": [
                        {"type": "feat", "effect": "bump", "section": "Features"},
                        {"type": "fix", "effect": "bump", "section": "Bug Fixes"},
                        {"type": "chore", "effect": "changelog", "section": "Chores"},
                        {"type": "docs", "effect": "changelog", "section": "Documentation"},
                        {"type": "style", "effect": "changelog", "section": "Chores"},
                        {"type": "refactor", "effect": "changelog", "section": "Chores"},
                        {"type": "perf", "effect": "changelog", "section": "Chores"},
                        {"type": "test", "effect": "changelog", "section": "Chores"}
                    ]
                }
            }
        ],
        "@semantic-release/changelog",
        "@semantic-release/git"
    ]
}
