[defaults]
host_key_checking=False
roles_path=./ansible/roles/
retry_files_enabled=False

[privilege_escalation]
become_ask_pass=True
become_flags = -H -S
# Fallback to previous sudo behavior for unix systems using sudo-rs
# become_exe = sudo.ws
